@using Walter.Core.DTO_s.Site;
@model List<CategoryDto>

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Categories</h1>

@foreach (var item in Model)
{
    <p>@item.Id</p>
    <p>@item.Name</p>
}
